.App {
  text-align: center;
}

.btn-delete {
  background-color: red;
  border: black 2 px solid;
  border-radius: 40%;
}

.btn-delete:hover {
  background-color: #FF8888;
  border: #440000 2 px solid;
  border-radius: 40%;
  
}
